/* Splash page */

$container-height: 100%;
$defaultBackground: #B9E5B3;

/* Extra small devices (phones, less than 768px) */
/* No media query because I'm doing Mobile first design. */

/* Small devices (tablets, 768px and up) */
$small: "(min-width: 768px) and (max-width: 992px)";

/* Medium devices (desktops, 992px and up) */
$medium: "(min-width: 992px) and (max-width: 1199px)";

/* Large devices (large desktops, 1200px and up) */
$large: "(min-width:1200px)";

$smallToLarge: "(min-width:768px)";

@mixin media($queryString){
	@media #{$queryString} {
      @content;
    }
}

body, html{
	background: darken($defaultBackground, 40%);	
}

#splash{
	 display: flex;
	justify-content: center;
	align-items: center;
	height: $container-height;
	span{
		color: red;
	}
	h2{
	  margin-top: 10%;
	  font-size: 16px; 
	  padding: 30px; 
	  width: 80%;
	  background: $defaultBackground; 
		@include media(($large)){
			font-size: 30px; 
		}
		@include media(($medium)){
			font-size: 24px; 
		}
		@include media(($small)){
			font-size: 20px; 
		}
    }
	button{
		display: block; 
		width: 80%; 
		padding: 5px; 
		background-color: lighten($defaultBackground, 20%); 
		border: darken($defaultBackground, 40%) 3px solid;
		color: darken($defaultBackground, 90%); 
		margin: 10px auto;

		@include media(($large)){
			font-size: 30px; 
		}
		@include media(($medium)){
			font-size: 24px; 
		}
		@include media(($small)){
			font-size: 20px; 
		}
		&:hover {
			background-color: darken($defaultBackground, 60%); 
			border: darken($defaultBackground, 60%) 3px solid;
			color: lighten($defaultBackground, 90%); 
		}
		&:focus {
			outline:0;
		}
	}
}

#index{
	display: none; 
	color: white;
	font-family: 'Questrial', sans-serif;
	font-size: 16px;
	height: 100%;
	width: 100%;
	
	// Nav
	nav {
		 display: block;
		 background: black;
		  @include media(($large)){
			nav > div{
				display: inline; 
			}
			padding: 10px;
		  }
		@include media(($smallToLarge)) {
			#columns{
				padding-top: 10px;
				display: flex;
				flex-flow: row wrap;
				justify-content: center;
				#ad, #Location, #Time{
					flex: 1;
				}
				 @include media(($large)){
					padding: 0px; 
					width: 70%;
					float: left; 
				 }
			}
		}
		#ad {
			 text-align: center;
			 font-size: 14px;
			 margin: 0 auto;
			 width: 100%;
			 #nic {
				 color: #40CC33;
				 text-decoration: none;
				 &:hover {
					color: #4A9943;
				}
			 }
			 
			  @include media(($large)){
				font-size: 12px; 
			  }
		}
		#Location{
			text-align: center; 
			width: 100%;
		}
		#Time{	
			text-align: center; 
			width: 100%;
		}
		#search-bar {
			width: 100%;
			color: grey;
			font-size: 14px;
			height: 28px;
			@include media(($medium)){
				width: 80%;
			}
			@include media(($large)){
				float: left; 
				width: 25%; 
			}
		}
		#searchButton {
			 width: 100%;
			 background: #8F92E0;
			 border: none;
			 height: 28px;
			 @include media(($medium)){
				width: 20%;
			}
			@include media(($large)){
				width: 5%;
				border-radius: 0px 15px 15px 0px;
			}
			&:hover {
			background: #6D6FAB;
			}
		}
		
    }
	
	// Main body
	#transparentGreyBackground {
		 margin: 4%;
		 opacity: .9;
		 background: #312c32;
		 color: white;
		 padding: 10px;
		 #fcButtons {
			text-align: center;
			width: 100%;
		}
		/* Fix this up */
		#fcButtons > button, #fcButtons > span {
			 text-align: center;
			 vertical-align: top;
			 font-size: 20px;
		}
		#f, #c {
				background-color: #312c32;
				 border: none;
				 text-decoration: none;
		}
		.summary {
			 width: 100%;
			 text-align: center;
			 font-size: 15px;
		}
		
		#todaysTemperature{		
			clear: left;
			float: left;
			width: 100%;
			overflow: hidden; 
			font-size: 12px; 
			.extremeTemperature{
				vertical-align: text-top; 
				display: block; 
				font-size: 12px; 
				padding-left: 23px; 
				&:nth-child(3) {
					color: grey; 
				}
			}
			i{
				font-size: 50px; 	
				display: block; 
			}
	
			#actualTemperature{
				font-size: 40px; 
			}
			// Positioning 
			#innerContainer{
				float: left;
				width: 100%;
				position: relative;
				right: 50%;
				#first{
				    float: left;
					width: 46%;
					position: relative;
					left: 52%;
					overflow: hidden; 
					text-align: right; 
				}
				#second{
					float: left;
					width: 46%;
					position: relative;
					left: 56%;
					overflow: hidden; 
					text-align: left; 					
				}
			}	
		}
		.wi-raindrop {
			 color: #0E5D9E;
		} 
	}
}
