/* Splash page */

$container-height: 100%;
$defaultBackground: #B9E5B3;

/* Extra small devices (phones, less than 768px) */
/* No media query because I'm doing Mobile first design. */

/* Small devices (tablets, 768px and up) */
$small: "(min-width: 768px) and (max-width: 992px)";

/* Medium devices (desktops, 992px and up) */
$medium: "(min-width: 992px) and (max-width: 1199px)";

/* Large devices (large desktops, 1200px and up) */
$large: "(min-width:1200px)";

@mixin media($queryString){
	@media #{$queryString} {
      @content;
    }
}

body, html{
	height: $container-height;
	background: darken($defaultBackground, 40%);
	
}
#splash{
	position: relative; 
	height: $container-height;
	span{
		color: red;
	}
	h2{
	  font-size: 16px; 
	  padding: 10px; 
	  width: 80%;
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  background: $defaultBackground; 
		@include media(($large)){
			font-size: 30px; 
		}
		@include media(($medium)){
			font-size: 24px; 
		}
		@include media(($small)){
			font-size: 20px; 
		}
    }
	button{
		display: block; 
		width: 80%; 
		padding: 5px; 
		background: lighten($defaultBackground, 20%); 
		border: darken($defaultBackground, 40%) 3px solid;
		color: darken($defaultBackground, 90%); 
		margin: 10px auto;
		-webkit-transition: .5s;
		-moz-transition: .5s;
		-ms-transition: .5s;
		-o-transition: .5s;
		transition: .5s;
		@include media(($large)){
			font-size: 30px; 
		}
		@include media(($medium)){
			font-size: 24px; 
		}
		@include media(($small)){
			font-size: 20px; 
		}
		&:hover {
			background: darken($defaultBackground, 60%); 
			border: darken($defaultBackground, 60%) 2px solid;
			color: lighten($defaultBackground, 90%); 
		}
	}
}

