/* Entire Document */

body {
  color: white; 
  font-family: "Circle";
}

/* !!NAV!! */


nav {
  background: black;
  color: white;
  padding: 1%;
  padding-bottom: 40px; 
  width: 100%; 
  font-family:  sans-serif; 
}

nav > div{
  display: inline;  
}

#ad{
  float: left; 
  padding-right: 20px; 
}

#nic{
  color: #40CC33;
  text-decoration: none; 
}
#nic:hover{
  color: #4A9943;
}

#search-bar{
  color: grey; 
}

#Location{
  float: right; 
}

/* !! BODY!! */

#transparentGreyBackground{
	  margin: 4%;
	 opacity: .9;
	 background: #312c32;
	 color: white; 
}

#fcButtons > button, span {
  text-align: center;
  vertical-align: top; 
}

#f,  #c {
  background-color: #312c32; 
  border: none; 
  text-decoration: none; 
}

/* LEFT SIDE OF TABLE */





