/* Entire Document */

body {
  color: white; 
  font-family: "Circle";
}

/* !!NAV!! */

@font-face {
    font-family: "Circle";
    src: url(https://ufonts.com/q115111) format("truetype");
}

nav {
  background: black;
  color: white;
  padding: 1%;
  padding-bottom: 40px; 
  width: 100%; 
  font-family:  sans-serif; 
   font-family: "Circle", Verdana, Tahoma;
}

nav > div{
  display: inline;  
}

#ad{
  float: left; 
  padding-right: 20px; 
}

#nic{
  color: #40CC33;
  text-decoration: none; 
}
#nic:hover{
  color: #4A9943;
}

#search-bar{
  color: grey; 
}

#Location{
  float: right; 
}

/* !! BODY!! */

/* LEFT/CURRENT */

#fcButtons > button, span {
  text-align: center;
  vertical-align: top; 
}

#f,  #c {
  background-color: #312c32; 
  border: none; 
  text-decoration: none; 
}



