/* Splash page */
/* Extra small devices (phones, less than 768px) */
/* No media query because I'm doing Mobile first design. */
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/* line 24, ../sass/screen.scss */
body, html {
  height: 100%;
  background: #409834;
}

/* line 29, ../sass/screen.scss */
#splash {
  position: relative;
  height: 100%;
}
/* line 32, ../sass/screen.scss */
#splash span {
  color: red;
}
/* line 35, ../sass/screen.scss */
#splash h2 {
  font-size: 16px;
  padding: 10px;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #B9E5B3;
}
@media (min-width: 1200px) {
  /* line 35, ../sass/screen.scss */
  #splash h2 {
    font-size: 30px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 35, ../sass/screen.scss */
  #splash h2 {
    font-size: 24px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  /* line 35, ../sass/screen.scss */
  #splash h2 {
    font-size: 20px;
  }
}
