/* Splash page */
/* Extra small devices (phones, less than 768px) */
/* No media query because I'm doing Mobile first design. */
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/* line 26, ../sass/screen.scss */
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}
/* line 30, ../sass/screen.scss */
body button:focus, html button:focus {
  outline: 0;
}

/* line 35, ../sass/screen.scss */
#splash {
  background: #409834;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
/* line 42, ../sass/screen.scss */
#splash h2 {
  font-size: 16px;
  padding: 30px;
  text-align: center;
  width: 80%;
  background: #B9E5B3;
}
@media (min-width: 1200px) {
  /* line 42, ../sass/screen.scss */
  #splash h2 {
    font-size: 30px;
  }
}
@media (min-width: 893px) and (max-width: 1199px) {
  /* line 42, ../sass/screen.scss */
  #splash h2 {
    font-size: 24px;
  }
}
@media (min-width: 668px) and (max-width: 892px) {
  /* line 42, ../sass/screen.scss */
  #splash h2 {
    font-size: 20px;
  }
}
/* line 58, ../sass/screen.scss */
#splash button {
  display: block;
  width: 80%;
  padding: 5px;
  background-color: white;
  border: #204c1a 3px solid;
  color: black;
  margin: 10px auto;
}
@media (min-width: 1200px) {
  /* line 58, ../sass/screen.scss */
  #splash button {
    font-size: 30px;
  }
}
@media (min-width: 893px) and (max-width: 1199px) {
  /* line 58, ../sass/screen.scss */
  #splash button {
    font-size: 24px;
  }
}
@media (min-width: 668px) and (max-width: 892px) {
  /* line 58, ../sass/screen.scss */
  #splash button {
    font-size: 20px;
  }
}
/* line 75, ../sass/screen.scss */
#splash button:hover {
  background-color: #204c1a;
  color: white;
}

/* line 82, ../sass/screen.scss */
#index {
  display: none;
  color: white;
  font-family: 'Questrial', sans-serif;
  font-size: 16px;
  height: 100%;
  width: 100%;
}
/* line 90, ../sass/screen.scss */
#index nav {
  display: block;
  background: black;
  min-height: 52px;
  /*	#Location{
  		text-align: center; 
  		width: 100%;
  		 @include media(($large)){
  				font-size: 15px; 
  		}
  	}
  	#Time{	
  		text-align: center; 
  		width: 100%;
  	} */
}
@media (min-width: 1200px) {
  /* line 90, ../sass/screen.scss */
  #index nav {
    padding-top: 5px;
  }
  /* line 95, ../sass/screen.scss */
  #index nav nav > div {
    display: inline;
  }
}
@media (min-width: 668px) {
  /* line 101, ../sass/screen.scss */
  #index nav #columns {
    padding-top: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  /* line 106, ../sass/screen.scss */
  #index nav #columns #ad, #index nav #columns #fcButtons {
    flex: 1;
  }
}
@media (min-width: 668px) and (min-width: 1200px) {
  /* line 101, ../sass/screen.scss */
  #index nav #columns {
    padding: 0px;
    width: 60%;
    float: left;
  }
}

/* line 116, ../sass/screen.scss */
#index nav #ad {
  text-align: center;
  font-size: 14px;
  margin: 0 auto;
  width: 100%;
}
/* line 121, ../sass/screen.scss */
#index nav #ad a {
  text-decoration: none;
}
/* line 124, ../sass/screen.scss */
#index nav #ad #nic {
  color: #40CC33;
}
/* line 126, ../sass/screen.scss */
#index nav #ad #nic:hover {
  color: #4A9943;
}
@media (min-width: 1200px) {
  /* line 116, ../sass/screen.scss */
  #index nav #ad {
    font-size: 12px;
  }
}
/* line 134, ../sass/screen.scss */
#index nav #fcButtons {
  text-align: center;
  width: 100%;
  font-size: 14px;
}
/* line 138, ../sass/screen.scss */
#index nav #fcButtons button {
  border: none;
  text-decoration: none;
  background: black;
}
@media (min-width: 1200px) {
  /* line 134, ../sass/screen.scss */
  #index nav #fcButtons {
    font-size: 16px;
  }
}
/* line 158, ../sass/screen.scss */
#index nav form {
  display: inline;
}
/* line 160, ../sass/screen.scss */
#index nav form #search-bar {
  width: 100%;
  color: grey;
  font-size: 14px;
  height: 28px;
}
@media (min-width: 893px) and (max-width: 1199px) {
  /* line 160, ../sass/screen.scss */
  #index nav form #search-bar {
    width: 80%;
  }
}
@media (min-width: 1200px) {
  /* line 160, ../sass/screen.scss */
  #index nav form #search-bar {
    width: 30%;
  }
}
/* line 173, ../sass/screen.scss */
#index nav form #searchButton {
  width: 50%;
  background: #6F71AD;
  border: none;
  height: 28px;
}
@media (min-width: 893px) and (max-width: 1199px) {
  /* line 173, ../sass/screen.scss */
  #index nav form #searchButton {
    width: 10%;
  }
}
@media (min-width: 1200px) {
  /* line 173, ../sass/screen.scss */
  #index nav form #searchButton {
    width: 5%;
  }
}
/* line 185, ../sass/screen.scss */
#index nav form #searchButton:hover {
  background: #3E3F61;
}
/* line 190, ../sass/screen.scss */
#index nav #callIP {
  width: 50%;
  height: 28px;
  background-color: #409834;
  color: brighten(#B9E5B3, 90%);
  border: none;
  font-size: 16px;
  float: left;
}
/* line 198, ../sass/screen.scss */
#index nav #callIP:hover {
  background-color: #183914;
}
@media (min-width: 893px) and (max-width: 1199px) {
  /* line 190, ../sass/screen.scss */
  #index nav #callIP {
    float: left;
    width: 10%;
  }
}
@media (min-width: 1200px) {
  /* line 190, ../sass/screen.scss */
  #index nav #callIP {
    float: left;
    width: 5%;
  }
}
/* line 216, ../sass/screen.scss */
#index #transparentGreyBackground {
  margin: 4%;
  opacity: .9;
  background: #312c32;
  color: white;
  padding: 10px;
}
/* line 217, ../sass/screen.scss */
#index #transparentGreyBackground p {
  margin: 0px;
}
/* line 225, ../sass/screen.scss */
#index #transparentGreyBackground .summary {
  width: 100%;
  text-align: center;
  font-size: 15px;
}
/* line 231, ../sass/screen.scss */
#index #transparentGreyBackground #todaysTemperature {
  clear: left;
  float: left;
  width: 100%;
  overflow: hidden;
  font-size: 14px;
  padding: 20px 0px;
}
/* line 238, ../sass/screen.scss */
#index #transparentGreyBackground #todaysTemperature .summary {
  font-size: 20px;
}
/* line 241, ../sass/screen.scss */
#index #transparentGreyBackground #todaysTemperature .extremeTemperature {
  vertical-align: text-top;
  display: block;
  padding-left: 23px;
}
/* line 245, ../sass/screen.scss */
#index #transparentGreyBackground #todaysTemperature .extremeTemperature:nth-child(3) {
  color: grey;
}
/* line 249, ../sass/screen.scss */
#index #transparentGreyBackground #todaysTemperature i {
  font-size: 50px;
  display: block;
  padding-bottom: 10px;
}
/* line 255, ../sass/screen.scss */
#index #transparentGreyBackground #todaysTemperature #actualTemperature {
  font-size: 40px;
}
/* line 259, ../sass/screen.scss */
#index #transparentGreyBackground #todaysTemperature #innerContainer {
  float: left;
  width: 100%;
  position: relative;
  right: 50%;
}
/* line 265, ../sass/screen.scss */
#index #transparentGreyBackground #todaysTemperature #innerContainer #first {
  float: left;
  width: 46%;
  position: relative;
  left: 52%;
  overflow: hidden;
  text-align: right;
  padding-top: 20px;
}
/* line 266, ../sass/screen.scss */
#index #transparentGreyBackground #todaysTemperature #innerContainer #first p {
  padding-right: 5px;
}
/* line 277, ../sass/screen.scss */
#index #transparentGreyBackground #todaysTemperature #innerContainer #second {
  float: left;
  width: 46%;
  position: relative;
  left: 56%;
  overflow: hidden;
  text-align: left;
  padding-top: 10px;
}
/* line 288, ../sass/screen.scss */
#index #transparentGreyBackground #today-details {
  text-align: center;
}
@media (min-width: 1200px) {
  /* line 288, ../sass/screen.scss */
  #index #transparentGreyBackground #today-details {
    display: inline;
  }
  /* line 293, ../sass/screen.scss */
  #index #transparentGreyBackground #today-details div:nth-child(1) {
    display: inline-block;
    width: 33%;
  }
  /* line 295, ../sass/screen.scss */
  #index #transparentGreyBackground #today-details div:nth-child(2) {
    float: left;
    width: 33%;
  }
  /* line 297, ../sass/screen.scss */
  #index #transparentGreyBackground #today-details div:nth-child(3) {
    float: right;
    width: 33%;
  }
}
/* line 300, ../sass/screen.scss */
#index #transparentGreyBackground #weeklyForecast {
  width: 100%;
  text-align: center;
  font-size: 16px;
  margin: 0 auto;
}
@media (min-width: 668px) and (max-width: 892px) {
  /* line 300, ../sass/screen.scss */
  #index #transparentGreyBackground #weeklyForecast {
    width: 80%;
  }
}
@media (min-width: 893px) and (max-width: 1199px) {
  /* line 300, ../sass/screen.scss */
  #index #transparentGreyBackground #weeklyForecast {
    width: 70%;
  }
}
@media (min-width: 1200px) {
  /* line 300, ../sass/screen.scss */
  #index #transparentGreyBackground #weeklyForecast {
    width: 60%;
  }
}
